# Ignore everything by default
*

# But include files in the root directory only
!/*

# Then re-ignore specific unwanted items even in root (optional)
.idea/
*.iml
.DS_Store
.env
*.env

# Ignore all subdirectory content, including cache and notebook checkpoints
**/*
!/*

# These catch nested caches and metadata
**/__pycache__/
**/.ipynb_checkpoints/
**/.idea/
**/*.pyc
**/*.pyo
**/.vscode
**/mpath_raw
**/interactions_raw
**/schedule_raw
*.json
.DS_Store
